<footer>
    <nav>
        <ul>
            <li><a href="https://nl.linkedin.com/in/anna-kyra-strik-a87ba5204" target="_blank">LinkedIn</a></li>
            <li><a href="mailto:info@anna-kyra.nl">E-mail</a></li>
            <!-- <li><a href="/">CV</a></li> -->
        </ul>
    </nav>
    <p>Ⓒ 2024 Anna-Kyra Strik | FDND</p>
</footer>