<header>
    <a href="/">
        <img src="/static/assets/img/logo.png" alt="Hi, welkom bij de portfolio van Anna-Kyra Strik" height="100" width="100">
    </a>
    <nav>
        <button aria-hidden="true">
            menu
        </button>
        <ul>
            <li><a href="/projects">Projecten</a></li>
            <li><a href="/i-love-web">I love web</a></li>
            <li><a href="/about-me">Over mij</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>