<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Anna-Kyra Strik</title>
    <link rel="icon" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>

    {% include 'header.njk' %}

    <main>
        {{ content | safe }}
    </main>

    {% include 'footer.njk' %}  
    
</body>
</html>