/*********************/
/* LETTERTYPES */
/*********************/


/*********************/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:not(disabled) {
    cursor:pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

}

/********************/
/* GENERAL STYLING */
/********************/
body {

}

/******************************************************/
/* MOBILE FIRST */
/******************************************************/

/******************************************************/
/* TABLET */
/******************************************************/

@media (min-width:38em) {
}

/******************************************************/
/* DESKTOP */
/******************************************************/
@media (min-width:54em) {
}